.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%; /* Ocupa 20% da altura da viewport */
    justify-content: space-between; /* Espalha os itens uniformemente no espaço disponível */
}

.header h1 {
    font-size: 2rem; /* Ajuste proporcional ao menor lado da viewport */
    margin: 0 0; /* Margem vertical pequena */
    text-align: center; /* Centraliza o texto */
    background-color: black; /* Tarja preta */
    color: white; /* Texto branco */
    width: 100%; /* Ocupa toda a largura da tela */
    padding: 0 0; /* Padding superior e inferior */
    box-sizing: border-box; /* Inclui o padding no tamanho total */
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.player .icon {
    font-size: 1.2rem; /* Ajuste proporcional ao menor lado da viewport */
    margin-right: 10px;
}

.player input {
    width: 70%;
    padding: 1%;
    margin-right: 10px;
}

.player .score {
    font-size: 1.2rem; /* Ajuste proporcional ao menor lado da viewport */
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; /* Adiciona espaço acima dos botões */
}

.controls button {
    padding: 4px 8px; /* Ajuste proporcional ao menor lado da viewport */
    margin: 3px;
    font-size: 0.7rem; /* Ajuste proporcional ao menor lado da viewport */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #767677;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.controls button:hover {
    background-color: #3b3b3b;
    transform: scale(1.05);
}

.controls button:active {
    background-color: #000000;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%; /* Ocupa 80% da altura da viewport */
}

.game-board {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 70vmin; /* 70% do menor lado da viewport */
    height: 70vmin; /* 70% do menor lado da viewport */
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
    width: 100%;
    height: 100%;
}

.small-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #fff;
    border: 2px solid #000;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    aspect-ratio: 1 / 1; /* Garantir que os pequenos tabuleiros sejam quadrados */
}

.small-board:hover {
    transform: scale(1.05);
}

.small-board div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 3.5vmin; /* Ajuste proporcional ao menor lado da viewport */
    font-weight: bold; /* Deixa o texto em negrito */
    cursor: pointer;
    transition: background-color 0.3s;
    aspect-ratio: 1 / 1; /* Garantir que as células sejam quadradas */
}

.highlight.x {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

.highlight.o {
    border-color: blue;
    background-color: rgba(0, 0, 255, 0.1);
}

.finished {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.finished::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.finished.x {
    font-size: 3.5vmin; /* Ajuste proporcional ao menor lado da viewport */
    color: red;
}

.finished.o {
    font-size: 3.5vmin; /* Ajuste proporcional ao menor lado da viewport */
    color: blue;
}

.winner .cell {
    background-color: rgba(0, 0, 0, 0.1);
}

.x {
    color: red;
}

.o {
    color: blue;
}

.winner.x {
    background-color: rgba(255, 0, 0, 0.2); /* Light red for X */
}

.winner.o {
    background-color: rgba(0, 0, 255, 0.2); /* Light blue for O */
}

.disabled {
    pointer-events: none; /* Desativa a interação com o mouse */
    opacity: 0.9; /* Escurece os demais mini jogos */
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s;
}

/* Modal content */
.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    animation: slideIn 0.5s;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Winner message */
#winnerMessage {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Player scores */
.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player .icon {
    font-size: 2rem;
    margin-right: 10px;
}

.player div {
    font-size: 1.2rem;
    margin-right: 10px;
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}

/* Estilos para o os mini jogos no mobile */
body.mobile .game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%; /* Ocupa 80% da altura da viewport */
    margin-top: 30%; /* Adicionado para espaço no topo */
}

body.mobile .game-board {
    width: 90vw; /* 90% da largura da viewport para um ajuste melhor */
    height: auto; /* Altura automática para manter a proporção */
    max-height: 80vh; /* Limite máximo da altura, deixando espaço para o cabeçalho */
    margin: auto; /* Centraliza o tabuleiro */
}

body.web .game-board {
    width: 70vmin; /* 70% do menor lado da viewport */
    height: 70vmin; /* 70% do menor lado da viewport */
}

body.mobile .small-board {
    font-size: 3vw; /* Ajuste proporcional ao menor lado da viewport */
}

body.web .small-board {
    font-size: 1.8vmin; /* Ajuste proporcional ao menor lado da viewport */
}

body.mobile .finished.x, body.mobile .finished.o {
    font-size: 5vw; /* Ajuste proporcional ao menor lado da viewport */
}

body.web .finished.x, body.web .finished.o {
    font-size: 3.5vmin; /* Ajuste proporcional ao menor lado da viewport */
}

/* Estilos para o cabeçalho no mobile */
body.mobile .header {
    width: 100%; /* Ocupa 100% da largura da tela */
    padding: 1%; /* Adiciona um pouco de espaçamento interno */
    box-sizing: border-box; /* Inclui o padding no tamanho total */
}

body.mobile .header h1 {
    font-size: 7vw; /* Tamanho da fonte baseado na largura da viewport */
    margin: 2vw 0; /* Margem vertical pequena */
    text-align: center; /* Centraliza o texto */
}

body.mobile .scoreboard {
    width: 100%; /* Ocupa 100% da largura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    box-sizing: border-box; /* Inclui o padding no tamanho total */
}

body.mobile .player {
    width: 90%; /* Largura relativa para ajustar ao espaço disponível */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço igual entre os elementos */
    margin-bottom: 1vw; /* Margem inferior pequena */
}

body.mobile .player .icon {
    font-size: 6vw; /* Tamanho da fonte baseado na largura da viewport */
    margin-right: 2vw; /* Espaço entre o ícone e o input */
}

body.mobile .player input {
    flex: 1; /* Faz o input crescer para preencher o espaço */
    padding: 0.5vw; /* Padding pequeno */
    font-size: 6vw; /* Tamanho da fonte baseado na largura da viewport */
    margin-right: 2vw; /* Espaço entre o input e o placar */
}

body.mobile .player .score {
    font-size: 6vw; /* Tamanho da fonte baseado na largura da viewport */
}

body.mobile .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw; /* Margem superior pequena */
}

body.mobile .controls button {
    padding: 2vw 4vw; /* Padding baseado na largura da viewport */
    margin: 1vw;
    font-size: 5vw; /* Tamanho da fonte baseado na largura da viewport */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #767677;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

body.mobile .controls button:hover {
    background-color: #3b3b3b;
    transform: scale(1.05);
}

body.mobile .controls button:active {
    background-color: #000000;
}